#fq_index{
    width: 100%;
    height: 500px;
}
#fq_index .fq_riji{
    width: 1200px;
    height: 500px;
    margin: 0 auto;
}
#fq_index .fq_riji a{
    height: 50px;
   font-size: 15px;
   font-weight: 600;
   line-height: 50px;
   color: #767676;
  margin-bottom: 36px;
}
.TwoTitle{
    width: 100%;
    height: 100px;
}
.TwoTitle h2{
    float: left;
    margin-top: 20px;
}
.TwoTitle a{
    float: right;
    line-height: 50px;
    border-radius: 5px;
    border: solid 1px #767676;
    text-align: center;
    color: #2e2e2e;
    font-size: 15px;
    font-weight: 600;
    box-sizing: border-box;
    margin-top: 20px;
    width: 190px;
    height: 50px;
    border-radius: 4px;
    border: solid 1px #767676;
    background-color: #ffffff;
}
.TwoTitle a span{
  color: #2e2e2e;
  font-size: 0.8rem;
  font-weight: 600;
}
.fq_index01{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.fq_index01 .fq_flex{
    width: 25%;
    margin-left: 5px;
    height: 300px;
    
}
.fq_index01 .fq_flex img{
    width: 280px;
    height: 300px;
    transition: all .25s ease;
}
.fq_index01 .fq_flex h3{
 overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
width: 100%;
height:24px;
font-size: 1.2rem;
line-height: 24px;
color: #ffffff;
text-align: center;
margin-top: -55px;
margin-bottom: 13px;
}
.fq_index01 .fq_flex p{
    text-align: center;
    margin-top: -10px;
    color: #ffffff;
    font-size: 0.8rem;
    font-family: 宋体;
}
.fq_index02{
    width: 100%;
    height: 630px;
    border: 1px solid red;
}
.fq_index02 .fq_left{
    float: left;
    border: 1px solid #000;
    width: 30%;
    height: 630px;
}
.fq_index02 .fq_left img{
    height: 100%;
    width: 100%;
}
.fq_index02 .fq_right{
    float: right;
    border: 1px solid #000;
    width: 68%;
    height: 630px;
}
.fq_index02 .fq_right ul{
    width: 100%;
    height: 300px;
    border: 1px solid #000;
}
.fq_index02 .fq_right ul li{
    width: 48%;
    float: left;
    margin-left: 10px;
    height: 300px;
    border: 1px solid red;
}
.fq_index02 .fq_right ul li img{
    width: 100%;
    height: 100%;
}